apiVersion: v1
kind: Namespace
metadata:
  name: idata-org
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: idata-org
  name: automation-full-access
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: idata-org
  name: pipeline-sa
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  namespace: idata-org
  name: pipeline-sa-token
  annotations:
    kubernetes.io/service-account.name: "pipeline-sa"
    kubernetes.io/service-account.namespace: "idata-org"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: idata-org
  name: automation-full-access
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: pipeline-sa
  namespace: idata-org
